<%= form_with(model: annotation, local: true ) do |form| %>
  <% if annotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annotation.errors.count, "error") %> impediu que anotação fosse salva:</h2>

      <ul>
        <% annotation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, class:"form-control", placeholder:"Título", required: true, errors: "Título não pode ser vazio" %>
  </div>

  <div class="form-group">
    <%= form.text_area :annotation, class:"form-control", placeholder:"Anotação", required: true %>
  </div>

  <div class="form-group">
    <%= form.label "#{t 'annotation.date'}" %>
    <%= form.date_select :date, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "#{t 'annotation.priority'}" %>
    <%= form.select(:priority, Annotation.priorities.keys, {}) %>
  </div>

  <div class="actions">
    <%= link_to "#{t('actions.back')}", root_path, class:"btn btn-secondary" %>
    <%= submit_tag("Salvar Anotação", :class=>"btn btn-primary", :name=>"submit") %>
  </div>
<% end %>
