<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'annotation.title' %>:</strong>
  <%= @annotation.title %>
</p>

<p>
  <strong><%= t 'annotation.annotation' %>:</strong>
  <%= @annotation.annotation %>
</p>

<p>
  <strong><%= t 'annotation.date' %>:</strong>
  <%= @annotation.date %>
</p>

<p>
  <strong><%= t 'annotation.priority' %>:</strong>
  <%= @annotation.priority %>
</p>

<%= link_to "#{t('actions.edit')}", edit_annotation_path(@annotation) %> |
<%= link_to "#{t('actions.back')}", annotations_path %>
